.feature-column {
  margin: 0.5rem 0;
  height: 100%;

  &--boxed {
    overflow: hidden;
    background-color: #fff;

    &__inner {
      padding: 1.5rem;
    }

    .feature-column__image {
      margin-bottom: 0;
    }
  }

  &__image,
  &__icon {
    margin-bottom: 1.5rem;
  }

  &__icon {
    width: 126px;
  }
}
