.page-header {
  padding: 160px 0;
  position: relative;

  &--home {
    padding: 200px 0;
    height: 100vh;
    min-height: 400px;
    position: relative;
  }

  &--work {
    background-color: $light;
    padding: 100px 0;
  }

  &--blog {
    background-color: $light;
    padding: 60px 0;
  }

  &--people {
    background-color: $light;
    padding: 100px 0;
  }

  &--landing-page {
    padding: 100px 0;
  }

  .back-to {
    color: $white;
    text-transform: uppercase;
    font-size: 0.875rem;
    opacity: 0.75;

    transition: 0.2s;
    &:hover {
      opacity: 1;
    }
  }

  &--light {
    background-color: $light;
    color: $navy;
    &:after {
      content: none;
    }
  }
}

.bg-color {
  &--none {
    background-color: transparent;
  }
  &--blue {
    background-color: $teal;
  }
  &--green {
    background-color: $green;
  }
  &--red {
    background-color: $red;
  }
  &--purple {
    background-color: $purple;
  }
  &--navy {
    background-color: $navy;
  }
}
