// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #a050be !default;
$pink: #e83e8c !default;
$red: #ff3c58 !default;
$orange: #f7935a !default;
$yellow: #ffc107 !default;
$green: #dcfa50 !default;
$teal: #82dcd2 !default;
$cyan: #17a2b8 !default;
$navy: #283c64 !default;

$primary: $teal !default;
$secondary: $red !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;

$heading-color: $navy !default;

// Links
//
// Style anchor elements.

$link-color: $primary !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: none !default;

$grid-gutter-width: 1rem !default;
