// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import "stack";
@import "typography";

@import "sections/sections";

body {
  background: $navy;
}

* {
  transition: 0.2s;
}

#page {
  padding: 0;
  background: $light;
}

.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

section {
  &.bg {
    &--none {
      background-color: transparent;
    }

    &--white {
      background-color: $white;
    }

    &--light {
      background-color: $light;
    }

    &--dark {
      background-color: $navy;

      * {
        color: #fff;
      }
    }

    &--primary {
      background-color: $primary;

      * {
        color: #fff;
      }
    }
  }

  &.space {
    &--none {
      padding: 0;
    }

    &--sm {
      padding: 25px 0;
    }

    &--md {
      padding: 50px 0;
    }

    &--lg {
      padding: 100px 0;
    }

    &--xlg {
      padding: 200px 0;
    }
  }
}

.bg-effect {
  &--ken-burns {
    overflow: hidden;

    &>.background-image-holder {
      animation: kenBurns 15s ease alternate infinite;
      -webkit-animation: kenBurns 15s ease alternate infinite;
    }
  }
}

.space-below {
  &--none {
    margin-bottom: 0;
  }

  &--sm {
    margin-bottom: 25px;
  }

  &--md {
    margin-bottom: 50px;
  }

  &--lg {
    margin-bottom: 100px;
  }

  &--xlg {
    margin-bottom: 200px;
  }
}

.flippable {
  display: flex;
  align-items: center;

  &__text {
    order: 1;
  }

  &__image {
    order: 2;

    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
    }
  }

  &--flip {
    .flippable__text {
      order: 2;
    }

    .flippable__image {
      order: 1;
    }
  }

  @include media-breakpoint-down(sm) {
    &__text {
      order: 2;
    }

    &__image {
      order: 1;
    }
  }
}

.text-center {
  hr.short {
    margin-left: auto;
    margin-right: auto;
  }
}

.buttons {
  margin-top: 20px;
}

.btn {
  font-size: 0.825em;
  font-family: $adelle;
  text-transform: uppercase;
  color: $primary;
  padding: 0.8em 1.6em;
  border-radius: 0;
  text-decoration: none;
  font-weight: 700;

  &--solid {
    background: $navy;
    color: $white;

    &:hover {
      background: darken($navy, 10%);
      color: $white;
    }
  }

  &--outline {
    background: transparent;
    color: $navy;
    border: 2px solid $navy;

    &:hover {
      background: $navy;
      color: $white;
    }
  }

  &--outline-white {
    background: transparent;
    color: $white;
    border: 2px solid $white;

    &:hover {
      background: $white;
      color: $navy;
    }
  }

  &--link {
    background: transparent;
    color: $primary;

    &:hover {
      color: darken($primary, 10%);
    }

    &:focus {
      box-shadow: none;
    }

    &:first-of-type {
      padding: 0.8em 0em;
    }
  }

  &:hover {
    text-decoration: none;
  }
}

.link {
  background: transparent;
  color: $primary;
  font-size: 0.825em;
  font-weight: 700;
  font-family: $adelle;
  text-transform: uppercase;

  &:hover {
    color: darken($primary, 10%);
  }

  &:focus {
    box-shadow: none;
  }
}

.cta {
  &__buttons {
    text-align: right;

    .buttons {
      margin-top: 0;
    }

    @include media-breakpoint-down(sm) {
      text-align: left;
      margin-top: 30px;
    }
  }
}

.work-tiles {}

.related-posts {
  background: $light;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-video {
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    display: inline-block;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  @include list-unstyled();
}

.page-link {
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: $pagination-hover-color;
    text-decoration: none;
    background-color: $pagination-hover-bg;
    border-color: $pagination-hover-border-color;
  }

  &:focus {
    z-index: 2;
    outline: 0;
    box-shadow: $pagination-focus-box-shadow;
  }

  // Opinionated: add "hand" cursor to non-disabled .page-link elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
}

.page-item {
  &:first-child {
    .page-link {
      margin-left: 0;
      border-radius: 0;
    }
  }

  &:last-child {
    .page-link {
      margin-right: 0;
      border-radius: 0;
    }
  }

  &.active .page-link {
    z-index: 1;
    color: $pagination-active-color;
    background-color: $pagination-active-bg;
    border-color: $pagination-active-border-color;
  }

  &.disabled .page-link {
    color: $pagination-disabled-color;
    pointer-events: none;
    // Opinionated: remove the "hand" cursor set previously for .page-link
    cursor: auto;
    background-color: $pagination-disabled-bg;
    border-color: $pagination-disabled-border-color;
  }
}

.project {
  &__header {
    padding: 100px 0;
  }

  &__feature-image {
    margin: 0;
    width: 100%;
  }

  &__content {
    margin: 0;
  }
}

.media {
  display: block;
  position: relative;
  overflow: hidden;
  height: 0;
  position: relative;

  &>svg,
  &>img,
  &>video,
  &>iframe,
  &>canvas,
  &>.media-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    border-radius: inherit;
  }
}

.media-1 {
  padding-top: 100%;
}

.media-1-2 {
  padding-top: calc((2 / 1) * 100%);
}

.media-9-16 {
  padding-top: calc((16 / 9) * 100%);
}

.media-9-14 {
  padding-top: calc((14 / 9) * 100%);
}

.media-2-3 {
  padding-top: calc((3 / 2) * 100%);
}

.media-3-4 {
  padding-top: calc((4 / 3) * 100%);
}

.media-4-5 {
  padding-top: calc((5 / 4) * 100%);
}

.media-4-3 {
  padding-top: calc((3 / 4) * 100%);
}

.media-3-2 {
  padding-top: calc((2 / 3) * 100%);
}

.media-5-4 {
  padding-top: calc((4 / 5) * 100%);
}

.media-16-9 {
  padding-top: calc((9 / 16) * 100%);
}

.media-2-1 {
  padding-top: calc((1 / 2) * 100%);
}

p>a,
h1>a,
h2>a,
h3>a,
h4>a,
h5>a,
h6>a {
  display: inline;
  text-decoration: none;
  position: relative;
  color: $primary;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $primary;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover {
    color: darken($primary, 10%);
  }

  &:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.filters {
  margin-bottom: 50px;
}

.filter-button {
  display: inline-block;
  text-decoration: none;
  position: relative;
  color: $purple;
  margin: 10px;
  font-size: 0.825em;
  font-weight: 700;
  font-family: $adelle;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $purple;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover {
    color: $primary;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  &.mixitup-control-active {
    color: $teal !important;
  }
}

.blog-feed {
  padding: 50px 0 100px;
}

.blog-tile {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  background: $white;
  height: calc(100% - 1rem);
  position: relative;

  * {
    transition: 0.2s;
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  &__content {
    padding: 1.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      font-size: 0.825em;
    }
  }

  &:hover {
    text-decoration: none;
  }

  &__thumb {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 66%;
  }

  &:hover .background-image-holder {
    transform: scale(1.1);
  }

  p {
    margin-bottom: 20px;
  }

  &__category {
    border-top: 1px solid $light;
    padding-top: 1rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-top: auto;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    font-family: $adelle;
    color: $navy;
    text-transform: uppercase;
  }
}

.blog-categories {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  &__link {
    background: transparent;
    color: $primary;
    font-size: 0.825em;
    font-weight: 700;
    font-family: $adelle;
    text-transform: uppercase;
    margin: 0 0.5rem;

    &:hover {
      color: darken($primary, 10%);
    }

    &:focus {
      box-shadow: none;
    }
  }
}

#landing-page {
  margin: 0;
  padding: 0;
  background-color: $light;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
}

.people-contact {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 1.25rem;

  &__item {
    margin-right: 1.25rem;
  }

  &__link {
    transition: 0.2;

    &:hover {
      opacity: 0.8;
    }
  }
}

.people-tile {
  padding: 1.5rem;
  text-align: center;
  position: relative;
  height: 100%;
  margin: 0.5rem 0;

  .avatar {
    margin-bottom: 1.5rem;
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .imagebg {
    background-color: transparent;
  }

  .people-img-2 {
    z-index: 2;
    opacity: 0 !important;
  }

  &:hover {
    background: $white;

    .people-img-2 {
      opacity: 1 !important;
    }
  }
}

.people-gallery {
  padding: 0;
}

img {
  margin-bottom: 0;
}

.imagebg {
  background-color: $navy;
}

.image--light {
  background-color: $light;
}

.homesplash {
  width: 75%;
  height: 100%;
  position: relative;
  display: inline-flex;
  background-color: $heading-color;
  transition: 300ms ease-in-out;

  #logo--navy {
    transition: 300ms;
    display: none;

    &.active {
      display: block;
    }
  }

  #logo--green {
    transition: 300ms;

    display: block;

    &.hidden {
      display: none;
    }
  }

  @media screen and (max-width: 1200px) {
    width: 100%;
    height: 60%;

    .row {
      margin: 2rem;
    }
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    height: auto;

    .logo {
      display: none;
    }
  }

  &.brand--active {
    background-color: $green;

    .homesplash__text {
      &--1 {
        color: $heading-color;
      }
    }
  }

  &.campaign--active {
    background-color: $primary;

    .homesplash__text {
      &--1 {
        color: $heading-color;
      }
    }
  }

  &.change--active {
    background-color: $secondary;

    .homesplash__text {
      &--1 {
        color: $heading-color;
      }
    }
  }

  .home_container {
    min-height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
    width: 100%;

    @media screen and (max-width: 768px) {
      width: 100%;
      height: auto;
      padding-top: 5rem;
      padding-bottom: 5rem;
      margin: auto;
    }
  }

  &__text {
    &--1 {
      display: inline;
      position: relative;
      font-size: 6.875rem;
      font-weight: 300;
      color: $success;
      line-height: 1;

      @media screen and (max-width: 1440px) {
        font-size: 4rem;
      }
    }

    &--2 {
      font-size: 1.875rem;
      color: $heading-color;
      display: block;
      opacity: 0;
      transition: 300ms;

      &.active {
        opacity: 1;
      }
    }
  }

  .homesplash__side {
    transform: rotate(-90deg);
    transform-origin: top left;
    right: calc(-100% + 3.125rem);
    position: absolute;
    width: 100%;
    height: 100%;

    @media screen and (max-width: 768px) {
      display: none;
    }

    .homesplash__text--2 {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}

#line--horizontal {
  background-color: rgb(220, 250, 80);
  height: 8px;
  transform: matrix(1, 0, 0, 1, 15, -40);
  position: absolute;
}

#line {
  position: absolute;
  width: 8px;
  left: 0%;
  height: calc(6.875rem * 3);
}

#line--1 {
  width: 8px;
  height: 0px;
  background-color: $navy;
  position: absolute;
  top: 0%;
}

#line--2 {
  width: 8px;
  height: 0px;
  background-color: $navy;
  position: absolute;
  top: 6.875rem;
}

#line--3 {
  width: 8px;
  height: 0px;
  background-color: $navy;
  position: absolute;
  top: calc(6.875rem * 2);
}

.img-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-tiles {
  .hidden-tile {
    opacity: 0;
    transition: 300ms;
  }
}

.project-client {
  color: $primary;
}

.project-hr {
  background-color: $primary;
  width: 5.875rem;
  height: 8px;
  border: none;
}