// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.






$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #9B5A97 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #f7935a !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #79cdcd !default;
$cyan:    #17a2b8 !default;
$charcoal:#2e3b42 !default;


$primary:       $teal !default;
$secondary:     $purple !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;

$heading-color: $charcoal !default;

// Links
//
// Style anchor elements.

$link-color:                $primary !default;
$link-decoration:           none !default;
$link-hover-color:          darken($link-color, 15%) !default;
$link-hover-decoration:     none !default;

$grid-gutter-width:         10px !default;
