@font-face {
  font-family: "AvenirNextRegular";
  src: url("../fonts/avenir-next/avenir-next-regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/avenir-next/avenir-next-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/avenir-next/avenir-next-regular.woff")
      format("woff"),
    /* Pretty Modern Browsers */
      url("../fonts/avenir-next/avenir-next-regular.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: "AvenirNextBold";
  src: url("../fonts/avenir-next/avenir-next-bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/avenir-next/avenir-next-bold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/avenir-next/avenir-next-bold.woff")
      format("woff"),
    /* Pretty Modern Browsers */
      url("../fonts/avenir-next/avenir-next-bold.ttf") format("truetype");
  /* Safari, Android, iOS */
}

$adelle: adelle-sans, sans-serif;

html {
  font-size: 1rem;
}

/** @include media-breakpoint-up(lg) {
  html {
    font-size: 1.2rem;
  }
} **/

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: adelle-sans, sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-bottom: 1rem;
  color: $heading-color;
  font-family: $adelle;
  font-weight: 300;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 700;
}

.page-title {
  font-size: 4rem;
  font-weight: 300;
}

.h6,
h6 {
  font-size: 1em;
  letter-spacing: 0em;
  font-weight: 700;
  font-family: $adelle;
  text-transform: uppercase;
}

p {
  color: $body-color;
  font-family: $adelle;
  margin-bottom: 20px;
}

.lead {
  color: $heading-color;
}

p:last-of-type {
  margin-bottom: 0;
}

ul,
ol {
  font-family: $adelle;
}

hr {
  &.short {
    height: 3px;
    width: 70px;
    background: $primary;
    border: none;
  }
}
