/****************
   HEADER & NAV
*****************/

#page {
  margin-left: 80px; //create space for the vertical nav
  background-color: $light;

  @media screen and (max-width: 767px) {
    margin-left: 0;
    margin-top: 60px;
  }
}

.nwo-logo {
  width: 40px;
}

.site-header {
  position: fixed;
  width: 80px;
  height: 100vh;
  background: #fff;
  z-index: 9999;
  -webkit-transition: 0.3s;
  transition: 0.3s;

  @media screen and (max-width: 768px) {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    background: #fff;
    border-right: none;
    z-index: 9999;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.mobile-logo {
  display: none;
}

.menu-logo {
  margin: 22px 20px;
  padding: 0;
  max-width: 200px;
}

.navicon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 0 28px;
  left: 0;
  width: 80px;
  padding-top: 30px;
  height: 80px;
  margin-top: -30px;

  @media screen and (max-width: 768px) {
    left: auto;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 17px;
    width: 60px;
    height: 40px;
    margin-top: 0;
  }

  .lines {
    width: 100%;
    height: 1px;
    background: $navy;
    display: block;
    transition: 0.3s;
    position: relative;
    transition: background 0.4s;
  }

  &-text {
    font-family: $adelle;
    font-size: 0.45em;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    &--menu {}

    &--close {
      color: $white;
    }
  }
}

.site-header {
  .navicon {
    &-text {
      position: absolute;
      bottom: 25px;
      left: 50%;
      transform: translateX(-50%);

      @media screen and (max-width: 768px) {
        bottom: 0;
      }

      &--menu {
        display: block;
      }

      &--close {
        display: none;
      }
    }
  }

  &.open {
    .navicon {
      &-text {
        &--menu {
          display: none;
        }

        &--close {
          display: block;
        }
      }
    }
  }
}

.navicon {
  & .lines {

    top: 6px;

    &:before,
    &:after {
      display: inline-block;
      width: 70%;
      height: 1px;
      background: $navy;
      transition: 0.3s;
      position: absolute;
      left: 0;
      content: "";
      -webkit-transform-origin: 0.28571rem center;
      transform-origin: 0.28571rem center;
    }
  }

  &:hover {
    .lines {

      &:before,
      &:after {
        width: 100%;
      }
    }
  }
}

.navicon .lines:before {
  top: -6px;
}

.navicon .lines:after {
  top: 6px;
}

.site-header.open .navicon .lines {
  background: transparent;
}

.site-header.open .navicon .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  top: 0;
  width: 100%;
}

.site-header.open .navicon .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  top: 0;
  width: 100%;
}

.nav {
  background: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding-left: 80px;
  transition: all 0.5s;
  height: 100%;
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  .nav {
    padding-left: 0;
    text-align: center;
  }

  .nav .nav__content {
    padding: 0 !important;
  }

  .nav .nav__content .wrapper {
    height: 100%;
    padding: 0;
  }

  .nav .nav__content .wrapper__scroll {
    overflow: scroll;
    height: 100%;
  }

  .nav .nav__content .site-nav {
    margin: 0;
    width: 100%;
    position: relative;
  }

  .nav .nav__content .site-nav ul li {
    padding: 5px;
  }

  .nav .nav__content .social {
    position: relative !important;
    padding: 60px 30px 30px;
    bottom: auto !important;
  }
}

.nav .nav__content {
  background: $navy;
  z-index: 999;
  width: 400px;
  transition: all 0.5s;
  margin-left: -500px;
  position: absolute;
  height: 100%;
  padding: 40px;
}

.nav .nav__content .site-nav,
.nav .nav__content .site-nav--mobile,
.nav .nav__content img,
.nav .nav__content .social {
  transition: opacity 0.5s 0.3s;
  opacity: 0;
}

.nav .nav__content .social a {
  margin-right: 20px;
}

.nav .nav__content .social a img {
  max-width: 30px;
  max-height: 30px;
}

@media screen and (max-width: 769px) {
  .nav .nav__content {
    width: 100%;
  }
}

.nav.open {
  background: rgba($navy, 0.7);
  visibility: visible;
}

.nav.open .nav__content {
  margin-left: 0;
}

.nav.open .nav__content .site-nav,
.nav.open .nav__content .site-nav--mobile,
.nav.open .nav__content img,
.nav.open .nav__content .social {
  opacity: 1;
}

.site-header.open {
  background: $navy;
}

.site-header.open .lines,
.site-header.open .lines:before,
.site-header.open .lines:after {
  background: #fff;
}

.site-nav,
.site-nav--mobile {
  font-size: 1em;
  cursor: default;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nav .nav__content .site-nav ul {
  padding: 0;
  list-style: none;
}

.nav .nav__content .site-nav ul li a {
  display: inline-block;
  text-decoration: none;
  margin: 10px 0;
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  position: relative;
  z-index: 1;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 55%;
    height: 2px;
    background-color: $green;
    left: 0px;
    width: 0;
    transition: 0.2s;
  }
}

.nav .nav__content .site-nav ul li a:hover {
  text-decoration: none;
  padding-left: 25px;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 55%;
    height: 2px;
    background-color: $green;
    left: 0px;
    width: 20px;
  }
}

.site-header:not(.open) {
  .logo {
    padding: 25px;
    margin: 0;

    &__desktop {
      &--white {
        display: none;
      }

      &--black {
        display: block;
      }
    }

    &__mobile {
      display: none;
    }

    @media screen and (max-width: 769px) {
      padding: 20px;
      max-width: 280px;

      &__desktop {
        display: none;
      }

      &__mobile {
        &--white {
          display: none;
        }

        &--black {
          display: block;
        }
      }
    }
  }
}

.site-header.open {
  .logo {
    padding: 25px;
    margin: 0;

    &__desktop {
      &--white {
        display: block;
      }

      &--black {
        display: none;
      }
    }

    &__mobile {
      display: none;
    }

    @media screen and (max-width: 769px) {
      padding: 20px;
      max-width: 280px;

      &__desktop {
        display: none;
      }

      &__mobile {
        &--white {
          display: block;
        }

        &--black {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 769px) {}

@media screen and (max-width: 768px) {
  .social-nav {
    position: static;
    text-align: center;
    padding-left: 0;
  }
}

.navbar__landing-page {
  position: relative;
  width: 100%;
  padding: 1rem 0;
  height: 80px;
  z-index: 1020;
  background-color: #fff;
}

.logo__landing-page {
  width: 240px;
}